body {
    font-family: 'Nunito', sans-serif;
}

.new-create {
    input, textarea, select {
        background-color: white;
    }
}

.tracks {
    .track-item {
        display: flex;
        align-items: center;
        justify-content: space-between;

        img {
            height: 50px;
            margin-right: 15px;
        }

        .track-info {
            font-size: 13px;

            .track {
                font-size: 14px !important;
            }
        }

        .like-button {
            display: none;

            i {
                font-size: 17px;

            }


        }

        &:hover {
            .like-button {
                display: block;
            }

        }
    }
}

.albums {

    .album-item {
        margin-right: 20px;

        img {
            height: 200px;
            border-radius: 10px;
        }

        .album-info {
            font-size: 13px;
        }
    }
}

.album-detail {
    .album-detail-info {
        font-size: 14px;
    }

    .tracks {
        font-size: 14px;

        .track-item {
            display: flex;
            border-bottom: 1px solid #1d1d1d;
            padding: 15px 0;

            &:last-child {
                border-bottom: none;
            }

        }
    }
}

nav {
    position: relative;
    z-index: 999;
}

.artist-detail {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    .artist-detail-image {
        position: relative;

        img {
            width: 100%;
            height: 320px;
            object-fit: cover;
            object-position: center -100px;
        }

        &::after {
            content: '';
            position: absolute;
            display: block;
            bottom: 0;
            width: 100%;
            height: 100%;
            background: rgb(8, 7, 7);
            background: -moz-linear-gradient(0deg, rgba(8, 7, 7, 1) 0%, rgba(246, 242, 246, 0) 100%);
            background: -webkit-linear-gradient(0deg, rgba(8, 7, 7, 1) 0%, rgba(246, 242, 246, 0) 100%);
            background: linear-gradient(0deg, rgba(8, 7, 7, 1) 0%, rgba(246, 242, 246, 0) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#080707", endColorstr="#f6f2f6", GradientType=1);
        }
    }

    .tracks {
        font-size: 14px;

        .track-item {
            display: flex;
            border-bottom: 1px solid #1d1d1d;
            padding: 15px 0;

            &:last-child {
                border-bottom: none;
            }
        }
    }
}

.track-detail {
    overflow: hidden;
    height: calc(100vh - 56px);

    .track-lyrics {
        max-height: 500px;
        overflow-y: scroll;
    }

    .song-item {
        display: flex;
        align-items: center;

        img {
            width: 50px;
            height: 50px;
            margin-right: 20px;
        }

        p {
            margin: 0;
        }
    }
}

a {
    &:hover {
        color: #0a58ca;
    }
}

.login {
    width: 100%;
    height: 100vh;


    .card {
        padding: 60px;
        border: 1px solid #4e4d4d;
    }
}





